In [1]:
from __future__ import print_function

import random

import pandas as pd
from tqdm import tqdm
import numpy as np

In [3]:
from utils.common import combine_csvs

combine_csvs('output/ards_data_dynamic', 'valid_ards_data_with_dynamic_feature_9399.csv')
print('end')

There are 2 files
     icu_stay_id identification_offset  AST (SGOT)_median  \
0         392433                  4687                NaN
1         216421                  1641              194.0
2         364289                  1357                NaN
3        3335357                   459                NaN
4         948534                  1155               31.0
...          ...                   ...                ...
4995     1506026                  1099               59.0
4996     1704142                   766                NaN
4997     2851257                   228              108.0
4998     2716534                  3488              239.0
4999      601385                   334                NaN

      AST (SGOT)_variance  AST (SGOT)_rate_change  albumin_median  \
0                     NaN                     NaN             NaN
1                     NaN                     0.0             2.1
2                     NaN                     NaN             NaN
3                     NaN                     NaN             NaN
4                     NaN                     0.0             3.0
...                   ...                     ...             ...
4995                  NaN                     0.0             1.2
4996                  NaN                     NaN             NaN
4997                  NaN                     0.0             1.7
4998                  NaN                     0.0             2.8
4999                  NaN                     NaN             2.7

      albumin_variance  albumin_rate_change  ALP_median  ALP_variance  ...  \
0                  NaN                  NaN         NaN           NaN  ...
1                  NaN                  0.0         NaN           NaN  ...
2                  NaN                  NaN         NaN           NaN  ...
3                  NaN                  NaN         NaN           NaN  ...
4                  NaN                  0.0         NaN           NaN  ...
...                ...                  ...         ...           ...  ...
4995               NaN                  0.0         NaN           NaN  ...
4996               NaN                  NaN         NaN           NaN  ...
4997               NaN                  0.0         NaN           NaN  ...
4998               NaN                  0.0         NaN           NaN  ...
4999               NaN                  0.0         NaN           NaN  ...

      total bilirubin_rate_change  Total CO2_median  Total CO2_variance  \
0                             NaN               NaN                 NaN
1                             0.0              27.0                 NaN
2                             NaN               NaN                 NaN
3                             NaN               NaN                 NaN
4                             0.0               NaN                 NaN
...                           ...               ...                 ...
4995                          0.0               NaN                 NaN
4996                          NaN               NaN                 NaN
4997                          0.0               NaN                 NaN
4998                          0.0               NaN                 NaN
4999                          0.0               NaN                 NaN

      Total CO2_rate_change  TV/kg IBW_median  TV/kg IBW_variance  \
0                       NaN            6.8493             0.00000
1                       0.0            7.8414             0.05988
2                       NaN               NaN                 NaN
3                       NaN               NaN                 NaN
4                       NaN            9.2263             0.00000
...                     ...               ...                 ...
4995                    NaN          500.0000             0.00000
4996                    NaN               NaN                 NaN
4997                    NaN            9.8246             0.00000
4998                    NaN            7.7301             0.00000
4999                    NaN            8.1988             0.00000

      TV/kg IBW_rate_change  WBC x 1000_median  WBC x 1000_variance  \
0                    0.0000               8.00                  NaN
1                    0.5994               9.70                  NaN
2                       NaN               7.70             0.080000
3                       NaN              21.90                  NaN
4                    0.0000              19.10                  NaN
...                     ...                ...                  ...
4995                 0.0000              16.40                  NaN
4996                    NaN               6.53                  NaN
4997                 0.0000               5.00             1.315833
4998                 0.0000              12.80                  NaN
4999                 0.0000              12.20                  NaN

      WBC x 1000_rate_change
0                        0.0
1                        0.0
2                        0.4
3                        0.0
4                        0.0
...                      ...
4995                     0.0
4996                     0.0
4997                     2.7
4998                     0.0
4999                     0.0

[9399 rows x 176 columns]
Index(['icu_stay_id', 'identification_offset', 'AST (SGOT)_median',
       'AST (SGOT)_variance', 'AST (SGOT)_rate_change', 'albumin_median',
       'albumin_variance', 'albumin_rate_change', 'ALP_median', 'ALP_variance',
       ...
       'total bilirubin_rate_change', 'Total CO2_median', 'Total CO2_variance',
       'Total CO2_rate_change', 'TV/kg IBW_median', 'TV/kg IBW_variance',
       'TV/kg IBW_rate_change', 'WBC x 1000_median', 'WBC x 1000_variance',
       'WBC x 1000_rate_change'],
      dtype='object', length=176)
end

In [51]:
df = pd.read_csv('dataset/figure_data/fig4_data.csv')
df['P/F ratio_rate_change']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
9394    27.40
9395     8.29
9396      NaN
9397      NaN
9398      NaN
Name: P/F ratio_rate_change, Length: 9399, dtype: float64

In [35]:
# a = df.loc[:, 'pf_8h_min']
df['pf_8h_min'] = df['pf_8h_min'].map(lambda x: np.floor(x))
df['pf_8h_min'].value_counts()

1.0     1812
2.0     1469
0.0      880
3.0      767
4.0      305
5.0       64
6.0        6
12.0       2
7.0        2
13.0       1
8.0        1
15.0       1
16.0       1
Name: pf_8h_min, dtype: int64

In [17]:
from utils.postgres_sql import PostgresSqlConnector

test_icu_stay_id = 1502830
start_offset = 666
end_offset = start_offset + 24 * 60
sql_connector = PostgresSqlConnector()

In [19]:
sql_connector.get_pao2_fio2_in_first_8h_after_ards_identification(
test_icu_stay_id, start_offset
)

   time_offset label  value
0          666  paO2   30.0
1          666  FiO2  100.0