In [1]:
from __future__ import print_function
import pandas as pd
from utils.postgres_sql import SqlConnector

In [2]:
sql_connector = SqlConnector()

In [4]:
query = \
"""
select patientunitstayid
from ards_data
"""

unit_stay_id_list = sql_connector.get_data_by_query(query)

       patientunitstayid
0                3181349
1                 351515
2                1461683
3                3197402
4                1652554
...                  ...
14721             560047
14722             232161
14723            1363922
14724            1517435
14725             525969

[14726 rows x 1 columns]